<template>
  <check-list>
    <area-title>{{ title }}</area-title>

    <list>
      <list-item
        v-for="(item, index) in list"
        :key="index"
      >
        <input 
          type="checkbox" 
          name="" 
          :id="`${idTitleName}${index}`"
          @click="selectOption(item)"
        >
        <label :for="`${idTitleName}${index}`">{{ item }}</label>
      </list-item>
    </list>
  </check-list>
</template>

<script>
import * as StyledComponents from "./style";

export default {
  props: ['title', 'list', 'value'],
  methods: {
    selectOption(item){
      let valueCopy = [...this.value]

      if(valueCopy.includes(item)){
        const valueIndex = valueCopy.indexOf(item)
        valueCopy.splice(valueIndex, 1)
      }else{
        valueCopy.push(item)
      }

      this.$emit('input', valueCopy)
    }
  },
  computed: {
    idTitleName() {
      const title = String(this.title);

      const words = title.toLowerCase().split(' ');
      let result = '';

      words.forEach((word) => {
        result += `${word}-`;
      });

      return result;
    }
  },
  mounted(){
    console.log(this.value)
  },
  components: {
    ...StyledComponents
  }
};
</script>
