<template>
  <container>
    <form-login @submit="handleSubmit">
      <logo :src="require('@/assets/img/logo.png')" alt="Logo Scruum" />

      <form-area>
        <input-icon
          placeholder="Usuário"
          :value="user"
          :icon="require('@/assets/icons/icon_user.svg')"
          @input="e => user = e"
        />

        <input-icon
          placeholder="Senha"
          type="password"
          :value="password"
          :icon="require('@/assets/icons/icon_lock.svg')"
          @input="e => password = e"
        />

        <form-login-button>Entrar</form-login-button>
      </form-area>
    </form-login>
  </container>
</template>

<script>
import * as StyledComponents from "./style";
import { goTo } from '@/util/router';
import { paths } from '@/router';

export default {
  methods: {
    handleSubmit(event) {
      event.preventDefault();

      goTo(paths.home)
    }
  },
  data: () => ({
    user: '',
    password: ''
  }),
  components: {
    ...StyledComponents,
  },
};
</script>
