<template>
  <div class="content">
    <page-title>Nova rede</page-title>

    <network-form>
      <div>
        <input type="text" placeholder="Nome" />
        <textarea cols="30" rows="10" placeholder="Descrição"></textarea>
      </div>
      <div>
        
        <checkbox-list-area
          title="Serviços"
          :list="[
            'Analisys',
            'Compras',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
            'Exemplo',
          ]"
        />

        <custom-button>Salvar</custom-button>
      </div>
    </network-form>
  </div>
</template>

<script>
import CheckboxListArea from "@/components/CheckboxListArea/CheckboxListArea";
import * as StyledComponents from "./style";
import { PageTitle } from "@/styles/typography";
import { CustomButton } from "@/styles/buttons";

export default {
  data: () => ({
    
  }),
  components: {
    CheckboxListArea,
    PageTitle,
    CustomButton,
    ...StyledComponents,
  },
};
</script>
