<template>
  <container>
    <sidenav />

    <router-view></router-view>
  </container>
</template>

<script>
import Sidenav from '@/components/Sidenav/Sidenav';
import * as StyledComponents from './style';

export default {
  components: {
    Sidenav,
    ...StyledComponents
  }
}
</script>

<style>
input, select, textarea {
  width: 100%;
}
</style>