<template>
  <header-container>
    <div>
      <img 
        :src="require('@/assets/icons/left_arrow.svg')" 
        @click="goBack"
      />
      <page-title>{{ title }}</page-title>
    </div>
    <submit-button type="button" @click="submitAction">Salvar</submit-button>
  </header-container>
</template>

<script>
import { goBack } from '@/util/router'
import { PageTitle } from '@/styles/typography'
import * as StyledComponents from './style'
export default {
  props: ['title'],
  components: {
    PageTitle,
    ...StyledComponents
  },
  methods: {
    goBack,

    submitAction(){
      this.$emit('submit');
    },
  }
}
</script>

<style>

</style>