<template>
  <div class="content">
    <page-header 
      title="Usuários" 
      inputPlaceholder="Buscar usuário"
      formPath="/form/user"
    />

    <content-container>
      <table-container class="user-table">
        <tr>
          <th id="id">Id</th>
          <th id="name">Nome</th>
          <th id="email">Email</th>
          <th id="createdAt">Adicionado em</th>
          <th id="situation">Situação</th>
        </tr>
        <tr v-for="user in users" :key="user.id" @click="goTo(`/form/user/${user.id}`)">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.createdAt.toLocaleDateString() }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </table-container>
      <paginator :totalPages="10"/>
    </content-container>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader/PageHeader'
import Paginator from '@/components/Paginator/Paginator'
import * as TableComponents from '@/styles/table'
import * as LayoutComponents from '@/styles/layout'
import User from '@/models/User'
import { goTo } from '@/util/router'
export default {
  components: {
    PageHeader,
    Paginator,
    ...TableComponents,
    ...LayoutComponents
  },
  data(){
    return {
      users: []
    }
  },
  methods: {
    goTo,
  },
  mounted(){
    for(let i=0; i<12; i++){
      this.users.push(new User(
        i+1,
        'Joaquim da Silva Barbosa',
        'joaquimsilva@gmail.com',
        new Date(Date.now()),
        'Ativo'
      ))
    }
  }
}
</script>

<style scoped>
.user-table #id{
  width: 10%;
}

.user-table #name{
  width: 30%;
}

.user-table #email{
  width: 30%;
}

.user-table #createdAt{
  width: 20%;
}

.user-table #situation{
  width: 10%;
}
</style>