<template>
  <div class="content">
    <page-header 
      title="Lojas"
      inputPlaceholder="Buscar Lojas"
      formPath="/form/store"
    />

    <content-container>
      <table-container>
        <tr>
          <th id="id">Id</th>
          <th id="name">Nome</th>
          <th id="cnpj">Cnpj</th>
          <th id="phone">Telefone</th>
          <th id="address">Endereço</th>
        </tr>
        <tr v-for="store in stores" :key="store.id" @click="goTo(`/form/store/${store.id}`)">
          <td>{{ store.id }}</td>
          <td>{{ store.name }}</td>
          <td>{{ store.cnpj }}</td>
          <td>{{ store.phone }}</td>
          <td>{{ store.street }}; N° {{ store.number }}; {{ store.neighborhood }}</td>
        </tr>
      </table-container>

      <paginator :totalPages="10"/>
    </content-container>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader/PageHeader'
import Paginator from '@/components/Paginator/Paginator'
import * as LayoutComponents from '@/styles/layout'
import * as TableComponents from '@/styles/table'
import Store from '@/models/Store'
import { goTo } from '@/util/router'
export default {
  components: {
    PageHeader,
    Paginator,
    ...LayoutComponents,
    ...TableComponents
  },
  methods: {
    goTo,
  },
  data(){
    return {
      stores: []
    }
  },
  mounted(){
    for(let i=1; i<=12; i++){
      this.stores.push(new Store(
        i,
        'Joaquim',
        '1111',
        '999999999',
        'cliente 1',
        '000000000',
        'Rua das limonadas',
        'Centro',
        'Natal',
        'RN',
        '1320'
      ))
    }
  }
}
</script>

<style scoped>
.store-table #id{
  width: 10%;
}

.store-table #name{
  width: 30%;
}

.store-table #cnpj{
  width: 20%;
}

.store-table #phone{
  width: 20%;
}

.store-table #address{
  width: 20%;
}
</style>