<template>
  <sidenav class="box-shadow">
    <logo :src="require('@/assets/img/logo.png')"/>

    <nav-menu>
      <router-link class="router-link" :to="{ name: 'user-form' }">
        <nav-menu-item>Cad. usuário</nav-menu-item>
      </router-link>
      
      <router-link class="router-link" :to="{ name: 'store-form' }">
        <nav-menu-item>Cad. loja</nav-menu-item>
      </router-link>


      <router-link class="router-link" :to="{ name: 'network-form' }">
        <nav-menu-item>Cad. rede</nav-menu-item>
      </router-link>

      <router-link class="router-link" :to="{ name: 'service-form' }">
        <nav-menu-item>Cad. serviço</nav-menu-item>
      </router-link>
    </nav-menu>
  </sidenav>
</template>

<script>
import * as StyledComponents from "./style";

export default {
  components: {
    ...StyledComponents,
  },
};
</script>
