<template>
  <input-container>
    <icon-input :src="icon" alt="" />
    <custom-input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      @input="(e) => $emit('input', e)"
    />
  </input-container>
</template>

<script>
import * as StyledComponents from "./style";

export default {
  props: ["icon", "placeholder", "value", "type"],
  data: () => ({
    focused: false,
  }),
  components: {
    ...StyledComponents,
  },
};
</script>