<template>
  <div class="content">
    <form-header title="Nova Loja" />
    <store-form>
      <div>
        <input type="text" placeholder="Nome" v-model="store.name"/>
        <input type="text" placeholder="CNPJ" v-model="store.cnpj"/>
        <input type="text" placeholder="Razão" v-model="store.companyName"/>
        <input type="text" placeholder="Telefone" v-model="store.phone"/>
        <select
          class="unselected"
          id="client"
          v-model="store.client"
          @change="(e) => handleSelect(e, 'client')"
        >
          <option value="">Cliente</option>
          <option v-for="office in offices" :key="office.id" :value="office.id">
            {{ office.value }}
          </option>
        </select>
      </div>
      <div>
        <input type="text" placeholder="CEP" v-model="store.cep"/>
        <input type="text" placeholder="Rua" v-model="store.street"/>
        <input type="text" placeholder="Bairro" v-model="store.neighborhood"/>
        <input type="text" placeholder="Cidade" v-model="store.city"/>

        <input type="text" placeholder="Estado" style="width: 60%;" v-model="store.state"/>
        <input type="number" placeholder="Número" style="width: 37%; margin-left: 3%;" v-model="store.number"/>
      </div>
    </store-form>
  </div>
</template>

<script>
import FormHeader from '@/components/FormHeader/FormHeader'
import * as StyledComponents from "./style";
import Store from '@/models/Store'

export default {
  data: () => ({
    store: new Store(),
    offices: [
      {
        id: 1,
        value: "Exemplo 1",
      },
      {
        id: 2,
        value: "Exemplo 2",
      },
      {
        id: 3,
        value: "Exemplo 3",
      },
    ],
  }),
  mounted(){
    if(this.$route.params.id){
      this.store = new Store(
        'Joaquim',
        '111111',
        'Razão',
        '111111111',
        "cliente 1",
        '59360000',
        'Rua das laranjeiras',
        'Centro',
        'Natal',
        'RN',
        '1320'
      )
    }
  },
  components: {
    FormHeader,
    ...StyledComponents,
  },
};
</script>
