:root {
    --white: #FFFFFF;
    --black: #000;
    --orange: #F0542D;
    --dark-orange: #d84b27;
    --gray-1: #F7F7F7;
    --gray-2: #F1F1F5;
    --gray-3: #6C6D70;
    --gray-4: #646464;

    --light-color: var(--white);
    --black-color: var(--black);


    --primary-color: var(--orange);
    --gray-color: var(--gray-1);
    --gray-color-1: var(--gray-2);

    --background-color: var(--gray-1);
    --font-color: var(--black);

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
}

body{
    background-color: var(--background-color);
}

input, textarea {
    width: 310px;
    height: 49px;
    background-color: var(--gray-2);
    font-family: var(--font-primary);
    padding: 19px 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

input[type=checkbox]{
    width: 16px;
    height: 16px;
}

textarea {
    height: 300px;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    color: rgba(108, 109, 112, 0.5);
}



select {
    width: 310px;
    height: 49px;
    background-color: var(--gray-2);
    font-family: var(--font-family);
    padding: 0 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    appearance: none;
    background-image: url('../assets/icons/mdi_keyboard_arrow_down.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 14px);
}

.unselected {
    color: rgba(108, 109, 112, 0.5);
}

.box-shadow {
  box-shadow: 0px 4px 44px rgba(108, 109, 112, 0.04);
}

.content {
    position: absolute;
    width: calc(100% - 340px);
    border-radius: 20px;
    right: 30px;
    top: 30px;
    min-height: calc(100vh - 60px);
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.router-link {
    text-decoration: none;
}