<template>
  <container>
    <cards-area>
      <router-link class="router-link" :to="paths.dashboard">
        <card>
          <svg
            width="150"
            height="150"
            viewBox="0 0 150 150"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M67.25 20.25V79.75H20.25V20.25H67.25ZM67.25 95.25V129.75H20.25V95.25H67.25ZM129.75 70.25V129.75H82.75V70.25H129.75ZM129.75 54.75H82.75V20.25H129.75V54.75Z"
              fill="#F0542D"
              stroke="#F0542D"
              stroke-width="3"
            />
          </svg>

          <card-title>Dashboard</card-title>
        </card>
      </router-link>

      <router-link class="router-link" :to="paths.analisys">
        <card>
          <svg
            width="150"
            height="150"
            viewBox="0 0 150 150"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M56.25 106.75H56.75V106.25V62.5V62H56.25H43.75H43.25V62.5V106.25V106.75H43.75H56.25ZM81.25 106.75H81.75V106.25V43.75V43.25H81.25H68.75H68.25V43.75V106.25V106.75H68.75H81.25ZM106.25 106.75H106.75V106.25V81.25V80.75H106.25H93.75H93.25V81.25V106.25V106.75H93.75H106.25ZM31.25 19.25H118.75C125.349 19.25 130.75 24.6511 130.75 31.25V118.75C130.75 125.349 125.349 130.75 118.75 130.75H31.25C24.6511 130.75 19.25 125.349 19.25 118.75V31.25C19.25 24.6511 24.6511 19.25 31.25 19.25Z"
              fill="#F0542D"
              stroke="#F0542D"
            />
          </svg>

          <card-title>Analisys</card-title>
        </card>
      </router-link>

      <router-link class="router-link" :to="paths.shopping">
        <card>
          <svg
            width="150"
            height="150"
            viewBox="0 0 150 150"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M107.147 56.5278L107.295 56.7501H107.562H137.5C140.652 56.7501 143.235 59.324 143.25 62.4731L143.07 64.0934L127.207 121.988C127.206 121.989 127.206 121.989 127.206 121.99C125.764 127.033 121.142 130.75 115.625 130.75H34.375C28.8557 130.75 24.2367 127.031 22.8572 121.993L22.8572 121.993L6.98223 64.0555L6.97864 64.0424L6.97434 64.0295C6.80838 63.5316 6.75 63.0254 6.75 62.5001C6.75 59.3388 9.33864 56.7501 12.5 56.7501H42.4375H42.7046L42.8531 56.5281L70.2281 15.5906L70.2307 15.5866C71.3117 13.9368 73.141 13.1251 75 13.1251C76.8603 13.1251 78.6923 13.9382 79.7728 15.5295C79.7731 15.53 79.7735 15.5304 79.7738 15.5309L107.147 56.5278ZM55.8369 55.9685L55.3039 56.7501H56.25H93.75H94.6961L94.1631 55.9685L75.4131 28.4685L75 27.8626L74.5869 28.4685L55.8369 55.9685ZM62 93.7501C62 100.901 67.8489 106.75 75 106.75C82.1511 106.75 88 100.901 88 93.7501C88 86.599 82.1511 80.7501 75 80.7501C67.8489 80.7501 62 86.599 62 93.7501Z"
              fill="#F0542D"
              stroke="#F0542D"
            />
          </svg>

          <card-title>Compras</card-title>
        </card>
      </router-link>

      <router-link class="router-link" :to="paths.collaborative">
        <card>
          <svg
            width="150"
            height="150"
            viewBox="0 0 150 150"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M118.188 50C118.188 60.101 110.097 68.25 100 68.25C89.9011 68.25 81.75 60.0989 81.75 50C81.75 39.9011 89.9011 31.75 100 31.75C110.097 31.75 118.188 39.899 118.188 50ZM68.1875 50C68.1875 60.101 60.0967 68.25 50 68.25C39.9011 68.25 31.75 60.0989 31.75 50C31.75 39.9011 39.9011 31.75 50 31.75C60.0967 31.75 68.1875 39.899 68.1875 50ZM6.75 103.125C6.75 99.6681 8.47817 96.6045 11.3771 93.931C14.2794 91.2544 18.3217 89.0028 22.8498 87.1908C31.9068 83.5664 42.7812 81.75 50 81.75C57.2188 81.75 68.0932 83.5664 77.1502 87.1908C81.6783 89.0028 85.7206 91.2544 88.6229 93.931C91.5218 96.6045 93.25 99.6681 93.25 103.125V118.25H6.75V103.125ZM106.75 103.125C106.75 94.129 102.061 87.1804 95.2967 81.9547C96.9857 81.8284 98.5735 81.75 100 81.75C107.219 81.75 118.093 83.5664 127.15 87.1908C131.678 89.0028 135.721 91.2544 138.623 93.931C141.522 96.6045 143.25 99.6681 143.25 103.125V118.25H106.75V103.125Z"
              fill="#F0542D"
              stroke="#F0542D"
            />
          </svg>

          <card-title>Colaborativo</card-title>
        </card>
      </router-link>
    </cards-area>
  </container>
</template>

<script>
import * as StyledComponents from "./style";
import { paths } from '@/router';

export default {
  data: () => ({
    paths
  }),
  components: {
    ...StyledComponents,
  },
};
</script>
