<template>
  <header-container>
    <page-title>{{ title }}</page-title>
    <custom-input :placeholder="inputPlaceholder"/>
    <header-button @click="goTo(formPath)">+</header-button>
  </header-container>
</template>

<script>
import { goTo } from '@/util/router'
import * as StyledComponents from './style'
import { PageTitle } from '@/styles/typography'
export default {
  props: ['title', 'inputPlaceholder', 'formPath'],
  components: {
    PageTitle,
    ...StyledComponents,
  },
  methods:{
    goTo,
  }
}
</script>

<style>

</style>