<template>
  <div class="content">
    <page-title>Novo serviço</page-title>

    <service-form>
      <div>
        <input type="text" placeholder="Nome">
        <textarea placeholder="Descrição" cols="30" rows="10"></textarea>
        <custom-button>Salvar</custom-button>
      </div>
    </service-form>
  </div>
</template>

<script>
import * as StyledComponents from "./style";
import { PageTitle } from "@/styles/typography";
import { CustomButton } from "@/styles/buttons";

export default {
  components: {
    PageTitle,
    CustomButton,
    ...StyledComponents
  }
}
</script>
