<template>
  <div class="content">
    <form-header title="Novo Usuário"/>

    <user-form>
      <div>
        <input type="text" placeholder="Nome" v-model="user.name"/>
        <input type="text" placeholder="Telefone" v-model="user.phone"/>
        <input type="text" placeholder="Email" v-model="user.email"/>
        <input type="text" placeholder="CPF" v-model="user.cpf"/>
        <select
          class="unselected"
          id="office"
          v-model="user.office"
          @change="(e) => handleSelect(e, 'office')"
        >
          <option value="">Cargo</option>
          <option v-for="office in offices" :key="office.id" :value="office.id">
            {{ office.value }}
          </option>
        </select>
      </div>
      <div>
        <select
          class="unselected"
          id="client"
          v-model="user.client"
          @change="(e) => handleSelect(e, 'client')"
        >
          <option value="">Cliente</option>
          <option v-for="office in offices" :key="office.id" :value="office.id">
            {{ office.value }}
          </option>
        </select>

        <checkbox-list-area
          title="Selecionar lojas"
          :value="user.stores"
          @input="(value) => user.stores = value"
          :list="[
            'Loja 1',
            'Loja 2',
            'Loja 3',
            'Loja 4',
            'Loja 5',
            'Loja 6',
            'Loja 7',
            'Loja 8',
            'Loja 9',
            'Loja 10',
          ]"
        />

        <checkbox-list-area
          title="Selecionar serviços"
          :value="user.services"
          v-model="user.services"
          :list="['Compras', 'Analisys', 'Outros serviços']"
        />

        <custom-button>Salvar</custom-button>
      </div>
    </user-form>
  </div>
</template>

<script>
import CheckboxListArea from "@/components/CheckboxListArea/CheckboxListArea";
import FormHeader from '@/components/FormHeader/FormHeader'
import { CustomButton } from "@/styles/buttons";
import * as StyledComponents from "./style";
import User from '@/models/User'

export default {
  methods: {
    handleSelect(event, id) {
      if (!event.target.value) {
        document.getElementById(id).classList.add("unselected");
      } else {
        document.getElementById(id).classList.remove("unselected");
      }
    },
  },
  data: () => ({
    user: new User(),
    offices: [
      {
        id: 1,
        value: "Exemplo 1",
      },
      {
        id: 2,
        value: "Exemplo 2",
      },
      {
        id: 3,
        value: "Exemplo 3",
      },
    ],
  }),
  mounted(){
    if(this.$route.params.id){
      this.user = new User(
        1,
        'Joaquim da Silva Barbosa',
        'joaquimsilva@gmail.com',
        new Date(Date.now()),
        'Ativo',
        '999999999',
        '11111111130',
        'Exemplo 1',
        '',
        [],
        [],
      )
    }
  },
  components: {
    FormHeader,
    CustomButton,
    CheckboxListArea,
    ...StyledComponents,
  },
};
</script>
