<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

button, input, textarea {
  font-family: 'Roboto', sans-serif;  
}

.router-link {
  text-decoration: none;
}

</style>
