<template>
  <container>
    <navigation-button @click="previousPage">
      <img :src="require('@/assets/icons/left_nav_arrow.svg')" />
    </navigation-button>
    <template v-if="totalPages <= 5">
      <page-button 
        v-for="n in totalPages" 
        :key="n"
        @click="setPage(n)"
        :class="{active: currentPage === n}"
      >
        {{ n }}
      </page-button>
    </template>

    <template v-else-if="currentPage <= 3">
      <page-button v-for="n in 3"
        :key="n"
        :class="{active: currentPage === n}"
        @click="setPage(n)"
      >
        {{ n }}
      </page-button>
      <page-button disabled>...</page-button>
      <page-button
        @click="setPage(totalPages)"
      >
        {{ totalPages }}
      </page-button>
    </template>

    <template v-else-if="totalPages - currentPage > 2">
      <page-button @click="setPage(currentPage - 2)">{{ currentPage - 2 }}</page-button>
      <page-button @click="setPage(currentPage - 1)">{{ currentPage - 1 }}</page-button>
      <page-button class="active" disabled>{{ currentPage }}</page-button>
      <page-button>...</page-button>
      <page-button @click="setPage(totalPages)">{{ totalPages }}</page-button>
    </template>

    <template v-else>
      <page-button @click="setPage(totalPages - 4)">{{ totalPages - 4}}</page-button>
      <page-button @click="setPage(totalPages - 3)">{{ totalPages - 3}}</page-button>
      <page-button
        :class="{active: currentPage === totalPages - 2}"
        @click="setPage(totalPages - 2)"
      >
        {{ totalPages - 2 }}
      </page-button>
      <page-button 
        :class="{active: currentPage === totalPages - 1}"
        @click="setPage(totalPages - 1)"
      >
        {{ totalPages - 1}}
      </page-button>
      <page-button
        :class="{active: currentPage === totalPages}"
        @click="setPage(totalPages)"
      >
        {{ totalPages }}
      </page-button>
    </template>


    <navigation-button @click="nextPage">
      <img :src="require('@/assets/icons/right_nav_arrow.svg')" />
    </navigation-button>
  </container>
</template>

<script>
import * as StyledComponents from './style'
export default {
  props: ['totalPages'],
  components: {
    ...StyledComponents,
  },
  data(){
    return{
      currentPage: 1,
    }
  },
  methods: {
    previousPage(){
      if(this.currentPage === 1){
        return
      }else{
        this.currentPage -= 1
      }
    },

    nextPage(){
      if(this.currentPage === this.totalPages){
        return
      }else{
        this.currentPage += 1
      }
    },

    setPage(n){
      this.currentPage = n
    }
  }
}
</script>

<style>

</style>